<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>deployment</username>
      <password>deployment</password>
      <id>releases</id>
    </server>
    <server>
      <username>deployment</username>
      <password>deployment</password>
      <id>snapshots</id>
    </server>
    <server>
        <id>ossrh</id>
        <username>VZNbp0RZ</username>
        <password>nrC2kt7Phb2CG2OJX3ZPWOPLHV6URl+mKHkbgoXlWZCT</password>
    </server>
  </servers>
</settings>
